/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2020, 8:43:16 PM
    Author     : ar
*/


@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    display: block;
    width: 50%;
    margin: auto;
    padding: 90px;

    text-align: center;
    border: 3px solid;
    height: 466px;
    margin-top: 147px;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
    padding: 34px;
    font-size: 21px;
    text-align: initial;
    margin-left: 68px;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
    text-align: initial;
}    

.text-md-right {
    margin-right: 80px;
    font-family: monospace;
}

.form-control{
    text-align: initial;

}
